@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  color: rgba(0, 0, 0, 0.87);
  height: 100vh;
}

input[type="text"],
input[type="number"],
textarea {
  border: 1px solid black;
}

/* Fix for header icons */

header a svg {
  margin: auto;
}

/* Dice fixes */

#dice-box canvas {
  width: 100%;
  height: 100%;
}

.adv-roller {
  margin: 10px !important;
}

.adv-roller--clear {
  @apply cursor-pointer button secondary;
}

.displayResults .hidden {
  display: none;
}

/* Sweetalert fixes */

.swal2-input-label {
  margin: 1em 1.6em 0.3em;
  text-align: center;
}

.swal2-cancel {
  @apply secondary bg-transparent;
}

/* Fullcalendar fixes */

.fc .fc-list-sticky .fc-list-day > * {
  background: initial;
}

.fc .fc-list-event:hover td {
  background-color: initial;
}

.fc .fc-event-main {
  overflow: hidden;
}

/* Custom classes */

.primary {
  @apply bg-fenice-red hover:bg-red-800;
}

.secondary {
  @apply border border-fenice-red hover:border-red-800 text-fenice-red;
}

.disabled {
  @apply bg-slate-500 cursor-not-allowed;
}

.active {
  @apply !border-black dark:!border-white;
}

.button {
  @apply text-text-white font-bold py-[10px] px-4 rounded inline-flex align-middle space-x-3 mr-2 my-2;
}

.link {
  @apply hover:text-blue-600 underline;
}

.title {
  @apply font-semibold text-xl mb-4;
}

.subtitle {
  @apply font-semibold text-lg mb-2;
}
